{% extends "measures/card-form.html.twig" %}
{% block header %}
    Dodaj dodatkową miarę
{% endblock %}
{% block form %}
    <form method="POST" action="{{ path('measures.sub.create') }}">
        <div class="row">
            <div class="col-md-6 col-lg-12 col-xl-6">
                {{ form_widget(form.name,{checked: checked}) }}
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6">
                {{ form_widget(form.shortcut,{checked: checked}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-12 col-xl-6">
                {{ form_widget(form.converter,{checked: checked, help: 'Ilość jednostek podrzędnych składających się na jednostkę główną.'}) }}
            </div>
            <div class="col-md-6 col-lg-12 col-xl-6 main-measure">
                {{ form_widget(form.mainMeasure,{checked: checked, errors: form.vars.errors}) }}
            </div>
        </div>
        <input type="hidden" name="{{ form._token.vars.full_name }}"
               value="{{ form._token.vars.value }}"/>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-info btn-block my-4" type="submit">
                    <span class="save-icon"></span> Dodaj
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-info btn-block my-4" type="button"
                   href="{{ path('measures.index') }}">
                    <span class="left-arrow-icon"></span> Powrót
                </a>
            </div>
        </div>
    </form>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/icon.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/material.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/getmdl-select.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/measures/sub-measure.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/material.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/getmdl-select.min.js') }}"></script>
{% endblock %}