{% extends 'content.html.twig' %}
{% set deletePath = path('products.destroy', {id: entity.id}) %}
{% set backPath = path('products.index') %}
{% block content %}
    <v-container fill-height grid-list>
        <v-layout row wrap align-center>
            <v-flex class='px-5'>
                <v-row>
                    <v-col cols='12' offset-md='2' md='8' offset-lg='2' lg='8' offset-xl='0' xl='4' class='pa-3'>
                        <v-card elevation='2'>
                            <v-toolbar color='primary' dark dense class='anchor' id='summary' data-name='Podsumowanie'>
                                Podsumowanie
                            </v-toolbar>
                            <v-simple-table>
                                <template v-slot:default>
                                    <tbody>
                                    <tr>
                                        <td class='font-weight-bold'>
                                            Nazwa:
                                        </td>
                                        <td>
                                            {{ entity.name }}
                                        </td>
                                    </tr>
                                    {% if entity.brand != null %}
                                        <tr>
                                            <td class='font-weight-bold'>
                                                Marka:
                                            </td>
                                            <td>
                                                <brand-info-button
                                                    id='{{ entity.brand.id }}'
                                                    name='{{ entity.brand.name }}'>
                                                </brand-info-button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class='font-weight-bold'>
                                            Jednostka bazowa:
                                        </td>
                                        <td>
                                            <unit-info-button id='{{ entity.unit.id }}' name='{{ entity.unit.name }}'>
                                            </unit-info-button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='font-weight-bold'>
                                            Domyślna ilość:
                                        </td>
                                        <td>
                                            {% if entity.defaultAmount != null %}
                                                {{ entity.defaultAmount }} {{ entity.unit.shortcut }}
                                            {% else %}
                                                brak
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if entity.groups|length > 0 %}
                                        <tr>
                                            <td class='font-weight-bold text-center' colspan='2'>
                                                Grupy produktów:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan='2'>
                                                {% for productsGroup in entity.groups %}
                                                    <products-group-info-chip
                                                        id='{{ productsGroup.id }}'
                                                        name='{{ productsGroup.name }}'>
                                                    </products-group-info-chip>
                                                    {% if productsGroup.supply != null %}
                                                        -
                                                        <a
                                                            href='{{ path('supplies.show', {id: productsGroup.supply.id}) }}'
                                                            class='link'> link do zapasu</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if entity.note != '' %}
                                        <tr>
                                            <td class='font-weight-bold text-center' colspan='2'>
                                                Notatka:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan='2'>
                                                {{ entity.note|raw }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if not (entity.barcode is empty) %}
                                        <tr>
                                            <td class='font-weight-bold text-center' colspan='2'>
                                                Kod kreskowy:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan='2' class='text-center'>
                                                {{ entity.barcode }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan='2' class='text-center pt-1'>
                                                <barcode value="{{ entity.barcode }}"></barcode>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card>
                    </v-col>
                    <v-col cols='12' offset-md='2' md='8' offset-lg='2' lg='8' offset-xl='0' xl='4' class='pa-3'>
                        {% if entity.shopping|length > 0 %}
                            <v-card elevation='2'>
                                <v-toolbar color='primary'
                                           dark
                                           dense
                                           class='anchor'
                                           id='shopping-history'
                                           data-name='Historia zakupów'>
                                    Historia zakupów
                                </v-toolbar>
                                <product-chart id='{{ entity.id }}'></product-chart>
                                <chart-positions-table
                                    limit='{{ limit }}'
                                    positions='{{ shopping|json_encode() }}'
                                    product='false'>
                                </chart-positions-table>
                            </v-card>
                        {% endif %}
                    </v-col>
                    <v-col cols='12' offset-md='2' md='8' offset-lg='2' lg='8' offset-xl='0' xl='4' class='pa-3'>
                        <v-card elevation='2'>
                            <v-toolbar color='primary' dark dense class='anchor' id='edit-product' data-name='Edycja'>
                                Edycja
                            </v-toolbar>
                            <form
                                method='post'
                                action='{{ path('products.update', {id: entity.id}) }}'
                                class='pa-3 pt-0'
                                {% if autocomplete == false %} autocomplete='off' {% endif %}>
                                <input type='hidden' name='_method' value='put'/>
                                {{ form_widget(form.name) }}
                                {{ form_widget(form.note) }}
                                {{ form_widget(form.barcode) }}
                                <div>
                                    {{ form_widget(form.brand) }}
                                </div>
                                <div>
                                    {{ form_widget(form.unit) }}
                                </div>
                                <div>
                                    {{ form_widget(form.productsGroups) }}
                                </div>
                                <input
                                    type='hidden'
                                    name='{{ form._token.vars.full_name }}'
                                    value='{{ form._token.vars.value }}'/>
                                <v-btn block color='primary' elevation='2' large type='submit' class='mt-3'>
                                    <v-icon left dark>
                                        mdi-content-save
                                    </v-icon>
                                    Aktualizuj
                                </v-btn>
                            </form>
                            {% embed 'theme/additional-edit.html.twig' %}{% endembed %}
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols='12' class='pa-3'>
                        <v-card elevation='2'>
                            <v-toolbar color='primary' dark dense class='anchor' id='images' data-name='Zdjęcia'>
                                Zdjęcia
                            </v-toolbar>
                            <gallery
                                photos='{{ photos|json_encode() }}'
                                url='{{ path('api.products.changeMainPhoto', {id: entity.id}) }}'>
                            </gallery>
                        </v-card>
                    </v-col>
                </v-row>
            </v-flex>
        </v-layout>
    </v-container>
    <price-info></price-info>
    <unit-info></unit-info>
    <products-group-info></products-group-info>
    <brand-info></brand-info>
    <upload-modal path='{{ path('api.products.addPhoto', {id: entity.id}) }}'></upload-modal>
    <overlay></overlay>
{% endblock %}