{% extends "theme/table-view.html.twig" %}
{% block table_name %}Produkty{% endblock %}
{% block table_nav %}
    <form method="GET" action="{{ path('products.index') }}">
        <div class="row">
            <div class="col-10 offset-1 col-md-5 offset-md-1">
                {{ form_widget(findForm.name, {checked: false}) }}
            </div>
            <div class="col-10 offset-1 offset-md-0 col-md-5 multi-select-col">
                {{ form_widget(findForm.measures, {checked: false}) }}
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-10 col-sm-5 col-lg-3">
                <button class="btn btn-info btn-block my-4 waves-effect waves-light" type="submit">
                    <span class="search-icon"></span>
                    Szukaj
                </button>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                {{ paginate(paginator) }}
            </div>
            <div class="col-10 col-sm-5 col-lg-3">
                <button class="btn btn-default btn-block my-4 waves-effect waves-light clear-button" type="button">
                    <span class="clear-icon"></span>
                    Czyść
                </button>
            </div>
            <div class="col-10 d-lg-none">
                {{ paginate(paginator) }}
            </div>
        </div>
    </form>
{% endblock %}
{% block table_header %}
    <th>Nazwa</th>
    <th>Bazowa jednostka</th>
    <th></th>
{% endblock %}
{% block table_body %}
    {% for product in paginator.getPage() %}
        <tr data-measure="{{ product.measure.id }}" data-id="{{ product.id }}">
            <td>
                {{ product.name }}
                <span class="badge badge-pill badge-danger float-right modal-span modal-product"
                      data-toggle="modal" data-target="#productModal">
                                {{ product.stuffs|length }}
                            </span>
            </td>
            <td>
                    <span data-toggle="modal" data-target="#measureModal" class="modal-measure">
                        {{ product.measure.name }}
                    </span>
            </td>
            <td class="align-middle">
                <a href="{{ path("products.show",{id:product.id}) }}">
                    <button type="button"
                            class="btn btn-outline-white button-rounded btn-sm px-2 edit-button">
                        <span class="edit-icon"></span>
                    </button>
                </a>
                <form action="{{ path("products.delete",{id:product.id}) }}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit"
                            class="btn btn-outline-white button-rounded btn-sm px-2 delete-button"
                            data-toggle="modal"
                            data-target="#deleteModal">
                        <span class="trash-icon"></span>
                    </button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3" class="text-center">
                Brak produktów
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block right_col %}
    {% include 'products/form.html.twig' %}
{% endblock %}
{% block modals %}
    {% include 'modals/delete.html.twig' %}
    {% include 'modals/measure.html.twig' %}
    {% include 'modals/product.html.twig' %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/products/index.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/products/index.js') }}"></script>
{% endblock %}