{% extends 'content.html.twig' %}
{% block content %}
    <v-container fill-height grid-list>
        <v-layout row wrap align-center>
            <v-flex class='px-5'>
                <v-row>
                    {% for list in lists %}
                        <v-col cols='12' md='6' lg='4' xl='4'>
                            <shopping-list
                                    list='{{ list|json_encode() }}'
                                    hide='{{ hide }}'
                                    layout='{{ layout }}'>
                            </shopping-list>
                        </v-col>
                    {% endfor %}
                </v-row>
            </v-flex>
        </v-layout>
    </v-container>
    <shopping-list-clipboard value='{{ clipboardPositions|json_encode() }}' top=true></shopping-list-clipboard>
    <a href='{{ path('shoppingLists.add') }}' class='text-decoration-none lists-add-button pa-3'>
        <v-btn fab dark color='error' type='button'>
            <v-icon dark>mdi-plus</v-icon>
        </v-btn>
    </a>
    <products-group-info></products-group-info>
    <product-info></product-info>
    <unit-info></unit-info>
    <overlay></overlay>
{% endblock %}